<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>三重IPQ結果確認</title>

    <script src="https://cdn.plot.ly/plotly-2.1.0.min.js"></script>
    
    <style>
      /* 読み込み完了するまで非表示 */
      [v-cloak] {
        display: none;
      }
      [darkgray] {
        color: #A9A9A9;
      }
    </style>

  </head>

  <body>
    <div id="app" class="container-fluid" v-cloak>
      <div class="row mt-2">

        <!-- データ選択 -->
        <div class="col-2">
          <select class="form-select" v-model="path" >
            <option v-for="option in options" v-bind:value="option.value">
              {{option.text}}
            </option>
          </select>
        </div>

        <!-- 特性選択 -->
        <div class="col-2">
          <select v-if="path==null" class="form-select" v-model="selectedCharacter" disabled>
            <option v-for="option in characterList" v-bind:value="option.value">
              {{option.text}}
            </option>
          </select>
          <select v-else class="form-select" v-model="selectedCharacter">
            <option v-for="option in characterList" v-bind:value="option.value">
              {{option.text}}
            </option>
          </select>
        </div>

        <!-- 冷却水温度ファイル選択 -->
        <div class="col-2">
          <select class="form-select" v-model="ambforplot">
            <option v-for="ambfile in ambfiles" v-bind:value="ambfile">
              {{ambfile}}
            </option>
          </select>
        </div>


        <!-- <div class="col-2">
          <button v-on:click="amb" name="button" class="btn btn-primary">冷却水温度</button>
        </div> -->

        <!-- スピナー -->
        <div class="col-1">
          <div class="spinner-border text-primary" role="status" v-if="loading">
            <span class="visually-hidden" >Loading...</span>
          </div>
        </div>
      
      </div>

      <!-- 2行目 -->
      <div class="row align-items-center mt-2">
        <div class="d-grid col-2">
          <button v-on:click="historyplot(1)" name="button" class="btn btn-primary">データ更新</button>
        </div>

        <!-- 平均化時間 -->
        <div class="col-2">
          <div v-if="isPower" class="input-group">
            <span class="input-group-text">平均化時間</span>
            <input type="text" aria-label="First name" class="form-control" v-model="startSec" v-on:keyup="trigger">
            <input type="text" aria-label="Last name" class="form-control" v-model="endSec" v-on:keyup="trigger">
          </div>
          <div v-else class="input-group">
            <span class="input-group-text" darkgray>平均化時間</span>
            <input type="text" aria-label="First name" class="form-control" v-model="startSec" v-on:keyup="trigger" disabled darkgray>
            <input type="text" aria-label="Last name" class="form-control" v-model="endSec" v-on:keyup="trigger" disabled darkgray>
          </div>
        </div>

        <!-- MVの描画チェック -->
        <div class="col-2">
          <div class="form-check align-item-centers">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" v-model="drawMV">
            <label class="form-check-label" for="flexCheckDefault">
              MV の描画
            </label>
          </div>
        </div>



      </div>
      
    </div>  


    <div class="row">
      <div class="col-6">
        <div id="myDiv"><!-- ここにグラフを表示する --></div>
      </div>
      <div class="col-6">
        <div id="singlePlot"><!-- ここにグラフを表示する --></div>
        </div>
      </div>
    </div>

      



    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="http://jp.vuejs.org/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
    
  </body>
</html>